<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Food Ordering System</title>
</head>

<body>
    <header>
        <h1><a href="{{ url_for('home') }}">Food Order</a></h1>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            {% if 'user_id' in session %}
                <a href="{{ url_for('logout') }}">Logout</a>
                {% if session['user_id'] == 1 %}
                    <a href="{{ url_for('admin_dashboard') }}">Admin Dashboard</a>
                {% endif %}
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Food Ordering System</p>
    </footer>
</body>

</html>
